.hero {
	background: url('../img/hero-bg.png') no-repeat bottom center;
	background-size: cover;
	height: 360px;	

	@media (max-width: 768px) {
		background: url('../img/hero-bg_mobile.png') no-repeat bottom center;
		background-size: cover;
		height: 645px;
	}

	&__cnt {
		padding-top: 70px;

		@media (max-width: 768px) {
			padding-top: 32px;
		}
	}

	&__parameters {
		display: grid;
		grid-template-columns: repeat(3, 1fr);		
		gap: 24px;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;		
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;			
			gap: 11px;
			background: linear-gradient(180deg, rgba(8, 10, 31, 0.55) 0%, rgba(13, 20, 73, 0.55) 100%);
			border: 1px solid #2C2D54;
			backdrop-filter: blur(20px);			
			border-radius: 18px;
			padding: 30px 40px;			

			&-title {
				font-weight: 700;
				font-size: 12px;
				line-height: 1;				
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

			&-value {
				font-weight: 300;
				font-size: 3.33vw;
				line-height: 1;
				white-space: nowrap;

				@media (min-width: 1441px) {
					font-size: 48px;
				}
			}
		}
	}
}