.status-badge {
	display: flex;
	align-items: center;
	height: 30px;
	width: fit-content;
	border-radius: 15px;
	font-weight: 500;
	font-size: .9vw;
	text-transform: capitalize;
	padding: 0 13px;

	@media (min-width: 1441px) {
		font-size: 13px;
	}

	@media (max-width: 768px) {
		font-size: 13px;
	}

	&.delivered {
		background-color: #00DE8E26;
		color: #01DD93;
	}

	&.error {
		background-color: #FE003426;
		color: #FF204E;
	}

	&.pending {
		background-color: #FFC60326;
		color: #FECA03;
	}
}