@import './normalize.scss';
@import './fonts.scss';
@import './variables';

// Blocks

@import './block-title.scss';
@import './copy-btn.scss';
@import './details.scss';
@import './footer.scss';
@import './header.scss';
@import './hero.scss';
@import './info-btn.scss';
@import './loader.scss';
@import './loader-block.scss';
@import './menu.scss';
@import './menu-btn.scss';
@import './mobile-menu.scss';
@import './page-content.scss';
@import './parameters.scss';
@import './primary-title.scss';
@import './search-input.scss';
@import './status-badge.scss';
@import './table.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Onest', 'Roboto', sans-serif;
  color: var(--font-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: #020514;
}

fieldset {
  border: none;
  padding: 0;
}

.fixed {
  position: fixed;
}

.container {  
  min-width: 320px;    
}

.wrap {
  width: 100%;
  max-width: 1366px;
  padding: 0 64px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}


