.table {
	position: relative;
	margin-bottom: 40px;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		height: 30px;
		width: calc(100% - 60px);
		transform: translateX(-50%);
		z-index: 2;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&::before {
		top: 95px;
		background-image: linear-gradient(to bottom, #060B21 0%, #060B21 50%, transparent 100%);
	}

	&::after {
		bottom: 10px;
		background-image: linear-gradient(to top, #060B21 0%, #060B21 50%, transparent 100%);
	}

	&__header {
		display: flex;
		align-items: center;		
		height: 60px;
		background-color: #171736;
		border-radius: 16px;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;		
		color: #7C80AB;
		padding: 0 55px 0 30px;
		margin-bottom: 24px;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__body {
		background: #060B21;
		border: 1px solid #2C2D55;
		border-radius: 16px;		
		padding: 30px 16px;					
	}

	// &__wrap {
	// 	height: 870px;		
	// 	overflow-y: scroll;

	// 	@media (max-width: 768px) {
	// 		overflow: visible;
	// 		height: auto;
	// 	}

	// 	&::-webkit-scrollbar {
	// 		width: 4px;	
			
	// 		@media (max-width: 768px) {
	// 			display: none;
	// 		}
	// 	}

	// 	&::-webkit-scrollbar-track {
	// 		background-color: #0071FF26;
	// 		border-radius: 2px;			
	// 	}

	// 	&::-webkit-scrollbar-thumb {
	// 		background-color: #0071FF;			
	// 		border-radius: 2px;
	// 	}
	// }

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		@media (max-width: 768px) {
			gap: 16px;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		height: 56px;
		border-radius: 8px;
		transition: all .2s;
		padding: 0 12px;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 16px;
			border-bottom: #2C2D55 1px solid;
			height: auto;
			padding: 0 0 26px 0;
		}

		&:hover {
			background-color: #0A1234A6;

			@media (max-width: 768px) {
				background: none;
			}
		}

		&:last-child {
			border: none;			
		}
	}

	&__cell {		
		display: flex;
		align-items: center;
		// overflow: hidden;
		white-space: nowrap;		
		
		@media (max-width: 768px) {
			justify-content: space-between;
			width: 100% !important;			
		}

		&-title {
			display: none;

			@media (max-width: 768px) {
				display: block;
				color: #7C80AB;
				font-size: 14px;
				font-weight: 500;
			}
		}

		&-cnt {
			display: flex;
			align-items: center;
			gap: 12px;
			font-size: .97vw;
			color: #3555FF;

			@media (min-width: 1441px) {
				font-size: 14px;
			}

			@media (max-width: 768px) {
				font-size: 14px;
			}

			a {
				color: #3555FF;
				text-decoration-color: #24358C;	
				position: relative;			
				transition: all .1s;

				.tooltip {
					text-decoration: none; 
					position: absolute;
					top: -40px;
					left: -8px;					
					transition: all .1s;
					visibility: hidden;
					opacity: 0;
					z-index: -1;
					font-size: 12px;

					&::after {
						left: 20px;
					}
				}

				.table__row:first-of-type & .tooltip {				
					bottom: -40px;			
					top: auto;

					&::after {
						transform: rotate(180deg);
						bottom: auto;
						top: -6px;
					}
				}
				
				&:hover {
					color: #2A44CB;					
			
					&:hover .tooltip {
						visibility: visible;
						opacity: 1;
						z-index: 10;
					}
				}
			}
		}

		&.time-col .table__cell-cnt {
			color: white;			
		}
	}	

	&__empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;		
		height: 500px;
		gap: 8px;
		padding: 0 40px;

		&-caption {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.43;	
			color: #7C80AB;
			text-align: center;
		}
	}

	&__icon-cnt {
		position: relative;

		.tooltip {
			position: absolute;
			top: -40px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: capitalize;
			transition: all .1s;
			visibility: hidden;
			opacity: 0;
			z-index: -1;
		}

		&:hover .tooltip {
			visibility: visible;
			opacity: 1;
			z-index: 10;
		}
	}

	&__row:first-of-type &__icon-cnt .tooltip {
		top: auto;
		bottom: -40px;

		&::after {
			transform: rotate(180deg);
			bottom: auto;
			top: -6px;
		}
	}

	&__hash {
		position: relative;

		.tooltip {
			position: absolute;
			top: -40px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: capitalize;
			transition: all .1s;
			visibility: hidden;
			opacity: 0;
			z-index: -1;
			font-size: 12px;
		}

		.table__row:first-of-type & .tooltip {
			bottom: -40px;
			top: auto;

			&::after {
				top: -6px;
				bottom: auto;
				transform: rotate(180deg);
			}
		}

		&:hover .tooltip {
			visibility: visible;
			opacity: 1;
			z-index: 10;
		}
	}
}

.txn-hash-col {
	width: 25%;
}

.status-col {
	width: 16%;
}

.from-col {
	width: 20%;
}

.to-col {
	width: 26%;
}

.time-col {
	text-align: right;
	justify-content: flex-end;
	width: 13%;

	@media (max-width: 768px) {
		justify-content: space-between;
	}
}

